*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainContainer{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.boxWrap{
    width: 80%;
    height: 90%;
    /* background-color: plum; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
